{% if latest_news %}
<div class="card">
    <div class="card-header bg-dark text-white">
        <h5 class="mb-0">آخرین اخبار</h5>
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            {% for news in latest_news %}
            <li class="mb-3">
                <div class="row">
                    {% if news.featured_image %}
                    <div class="col-4">
                        <a href="{{ news.source_url }}" class="text-dark" target="_blank" title="{{ news.title }}"
                            rel="nofollow noreferrer noopener">
                            <img src="{{ news.featured_image.url }}" alt="{{ news.title }}" title="{{ news.title }}"
                                class="img-fluid rounded" width="100%">
                        </a>
                    </div>
                    {% else %}
                    <div class="col-4">
                        <a href="{{ news.source_url }}" class="text-dark" target="_blank" title="{{ news.title }}"
                            rel="nofollow noreferrer noopener">
                            {% load static %}
                            <img src="{% static '/images/default.webp' %}" alt="{{ news.title }}"
                                title="{{ news.title }}" class="img-fluid rounded" width="100%">
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-8">
                        <a href="{{ news.source_url }}" class="text-decoration-none text-dark" target="_blank"
                            title="{{ news.title }}" rel="nofollow noreferrer noopener">
                            {{ news.title|truncatechars:50 }}
                            <small class="text-muted d-block">
                                {{ news.published_at|date:"M d, Y" }}
                            </small>
                            <small class="text-muted d-block">Source: {{ news.source.name }}</small>
                            <small class="text-blue-600 hover:text-blue-800">Read more →</small>
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div><br />
{% endif %}