{% extends 'base.html' %}

{% block title %}حمایت مالی - {{ WEBSITE_NAME }}{% endblock %}

{% block meta_keywords %}حمایت مالی، ارز دیجیتال، قیمت‌های زنده ارزهای دیجیتال، آمار بازار ارزهای دیجیتال، ارزهای دیجیتال، {{
WEBSITE_NAME }}{% endblock %}

{% block meta_description %}برای حمایت از پلتفرم ما کمک مالی کنید. با قیمت‌های لحظه‌ای ارزهای دیجیتال و
معیارهای بازار در {{ WEBSITE_NAME }} به‌روز بمانید.
با اهدای کمک مالی از پلتفرم ما حمایت کنید. قیمت‌های زنده ارزهای دیجیتال و داده‌های بازار را در {{ WEBSITE_NAME }} دریافت کنید.
{% endblock %}

{% block og_title %}حمایت مالی - {{ WEBSITE_NAME }}{% endblock %}

{% block og_description %}برای حمایت از پلتفرم ما کمک مالی کنید. با قیمت‌های لحظه‌ای ارزهای دیجیتال و
معیارهای بازار در {{ WEBSITE_NAME }} به‌روز بمانید.
با اهدای کمک مالی از پلتفرم ما حمایت کنید. قیمت‌های زنده ارزهای دیجیتال و داده‌های بازار را در {{ WEBSITE_NAME }} دریافت کنید.
{% endblock %}

{% block dc_title %}حمایت مالی - {{ WEBSITE_NAME }}{% endblock %}

{% block dc_keywords %}حمایت مالی، ارز دیجیتال، قیمت‌های زنده ارزهای دیجیتال، آمار بازار ارزهای دیجیتال، ارزهای دیجیتال، {{
WEBSITE_NAME }}{% endblock %}

{% block dc_description %}برای حمایت از پلتفرم ما کمک مالی کنید. با قیمت‌های لحظه‌ای ارزهای دیجیتال و
معیارهای بازار در {{ WEBSITE_NAME }} به‌روز بمانید.
با اهدای کمک مالی از پلتفرم ما حمایت کنید. قیمت‌های زنده ارزهای دیجیتال و داده‌های بازار را در {{ WEBSITE_NAME }} دریافت کنید.
{% endblock %}

{% block twitter_title %}حمایت مالی - {{ WEBSITE_NAME }}{% endblock %}

{% block twitter_description %}برای حمایت از پلتفرم ما کمک مالی کنید. با قیمت‌های لحظه‌ای ارزهای دیجیتال و
معیارهای بازار در {{ WEBSITE_NAME }} به‌روز بمانید.
با اهدای کمک مالی از پلتفرم ما حمایت کنید. قیمت‌های زنده ارزهای دیجیتال و داده‌های بازار را در {{ WEBSITE_NAME }} دریافت کنید.
{% endblock %}

{% block breadcrumb_items %},
{
"@type": "ListItem",
"position": 2,
"name": "حمایت مالی",
"item": "{{ request.scheme }}://{{ request.get_host }}{% url 'donate' %}"
}
{% endblock %}

{% block extra_json_ld %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "حمایت مالی - {{ WEBSITE_NAME }}",
        "description": "برای حمایت از پلتفرم ما کمک مالی کنید. با قیمت‌های لحظه‌ای ارزهای دیجیتال و معیارهای بازار در {{ WEBSITE_NAME }} به‌روز بمانید. با اهدای کمک مالی از پلتفرم ما حمایت کنید. قیمت‌های زنده ارزهای دیجیتال و داده‌های بازار را در {{ WEBSITE_NAME }} دریافت کنید.",
        "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'donate' %}"
    }
</script>
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="display-4 text-center mb-4">حمایت مالی</h1>
    <p class="text-muted text-center">
        <small>
            با اهدای بیت‌کوین یا اتریوم از پلتفرم ما حمایت کنید.
        </small>
    </p>
</div>

<div class="donate">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card wallet p-3 text-center">
                <h3 class="card-title">بیت‌کوین</h3>
                <p class="card-text">{{ bitcoin }}</p>
                <img class="img-fluid m-auto" src="{{ bitcoin_qr }}" height="200" width="200" alt="کد QR بیت‌کوین"
                    title="کد QR بیت‌کوین">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card wallet p-3 text-center">
                <h3 class="card-title">اتریوم</h3>
                <p class="card-text">{{ ethereum }}</p>
                <img class="img-fluid m-auto" src="{{ ethereum_qr }}" height="200" width="200" alt="کد QR اتریوم"
                    title="کد QR اتریوم">
            </div>
        </div>
    </div>
</div>
{% endblock %}