@font-face {
    font-family: 'Calibri Light';
    font-style: normal;
    font-weight: 300;
    src: local('Calibri Light'), url(../fonts/calibril.woff) format("woff"), url(../fonts/calibril.ttf) format("truetype")
}

body {
    font-family: 'Calibri Light'
}

p {
    margin-bottom: 0
}

.home-container h2 {
    margin-top: 20px
}

.home-container .post-card p {
    margin-bottom: 0
}

.home-container .post-card {
    line-height: 1.5
}

.home-container .post-card img {
    max-height: 200px;
    object-fit: contain;
    margin: 20px 0
}

.home-container .post-card a {
    color: #000
}

.home-container .post-card h3 {
    font-size: 20px
}

.post-content {
    line-height: 2
}

.post-content .post-meta span {
    margin-right: 10px
}

.post-content .post-featured-image img {
    max-height: 600px;
    margin: 20px auto;
    text-align: center;
    object-fit: conian;
    margin: 30px auto 10px auto;
    width: 100%
}

.post-content ul {
    margin: 0
}

.post-content .crypto-badge {
    padding: 10px
}

.post-content .crypto-badge .crypto-badge-icon {
    width: 15px;
    height: 15px
}

.live-charts h4,
.post-content h4 {
    margin-top: 50px;
    font-weight: 700
}

.not-found-content .navbar {
    background-color: #343a40;
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0
}

.not-found-content .nav-item {
    margin: 0 15px
}

.not-found-content .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 700
}

.not-found-content .container {
    text-align: center;
    padding: 50px
}

.not-found-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px
}

.not-found-content svg {
    margin: 20px 0
}

.not-found-content p {
    font-size: 1.2em
}

.not-found-content .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.not-found-content .btn i {
    margin-right: 8px
}

.whitepaper h1 {
    margin-bottom: 0
}

.social-share-section .qrcode {
    max-width: 150px;
    border-radius: 15px
}

.page-link {
    color: #332D2D !important
}

.active>.page-link {
    color: #fff !important
}

.sidebar-ads {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}